body{
    font-family: Arial, sans-serif;
    background:#6d28d9;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.container{
    background:white;
    padding:30px;
    border-radius:15px;
    width:330px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

h1{
    color:#2563eb;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
    font-size:16px;
}

button{
    padding:10px 20px;
    margin:8px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
    font-size:15px;
}

button:hover{
    background:#1d4ed8;
}

#mensagem{
    color:green;
    font-weight:bold;
}
